# Please follow suitable version specifiers, as outlined in https://www.python.org/dev/peps/pep-0440/#version-specifiers
# For Django versioning we use ~= (e.g. Django~=3.2.0) which will keep the minor version up to date (e.g. the latest version prior to 3.3.0)

Django~=4.2.0
Pillow~=9.1.0
django-recaptcha~=3.0
djangorestframework~=3.12
django-ckeditor~=6.5.0
django-embed-video~=1.4.0
