{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container" id="about">
    <h2>About</h2>
    <p>
        <strong>What happens to the connection between collective memory and political identity in the process of migration?</strong>
    </p>
    <p>
        <em>Post-Socialist Britain?: Memory Representation and Political Identity amongst German and Polish Immigrants in the UK </em> takes as its point of departure the growth in support for anti-immigrant and Eurosceptic parties across Europe. Our focus is on post-socialist countries - that is, those with experience of state socialist rule. The support for right-of-centre and xenophobic politics has frequently been explained in these contexts as being underpinned by collective memory of authoritarianism, and/or the ways in which these histories are used by those seeking support for ethnonationalist politics. Nonetheless, those who give such explanations usually assume that those remembering authoritarianism do so in their country of origin. <em>Post-Socialist Britain?</em> breaks out of this national mould to explore if and how memory is linked to political identity when the individual moves to a new national context.
    </p>
    <p>
        Political identity is influenced by a complex web of factors: e.g, constructions of ethnicity, social inclusion, community networks, and media representation. Post-Socialist Britain uses an innovative interdisciplinary methodology to explore this complexity. It uses a case study approach, focusing on two comparable, but very different, groups: Polish and German immigrants in the UK.
    </p>
    <p>
        The research findings of Post-Socialist Britain will lead to a better understanding of how immigrant groups negotiate different aspects of their identities and the factors that contribute to the development of political behaviour. The project will therefore also be of significance for multiple stakeholders who work towards promoting community cohesion and against xenophobia and extremism. We work closely with Polish and German professional and community associations, policymakers, immigrant communities, and schools.
    </p>
    <p>
        The project will result in: a single-authored monograph, a conference and special issue, five peer-reviewed journal articles, stakeholder workshops, two policy briefings, a virtual and physical exhibition and series of artistic performances, school teaching resources, and press op-ed and opinion pieces.
    </p>
    <p>
        The research is divided into four strands: Narratives, Networks, Media and Communities
    </p>
    <ul>
        <li>
            <strong>Narratives</strong> examines the ways in which participants give meaning to personal and collective memories of their countries of origin and how they link these meanings to their political identity and behaviour in the present. The narratives are gathered in a series of one-to-one interviews with Polish and German immigrants to the UK.
        </li>
        <li>
            <strong>Networks</strong> examines the multilayered networks composed of diverse organizations and individuals shaping memory and political identity of Polish and German nationals including the possible impact of local (British) milieus. In this strand we utilize an innovative methodological approach based on Social Network Analysis (SNA). This involves approximately 30 in-depth interviews of selected actors identified as potential brokers using the innovative software VennMaker, which facilitates the mapping of networks through qualitative means.
        </li>
        <li>
            <strong>Media</strong> explores the extent and type of representation of Germany and Poland (especially German and Polish history) as well as of German and Polish immigrants in the UK press and social media. Exploring how the UK press reports on these topics allows us to understand the discursive space in which and against which Germans and Poles in the UK define and develop their political identities and how this might interact with memories of the country of origin.
        </li>
        <li>
            <strong>Communities</strong> explores the ways in which individuals give voice to their memories in dialogue others. Research in this strand centres on series of photography workshops in two urban areas: West Bromwich and Hyson Green. The idea is to foster inter-community dialogue around memories of the past and their connection to the present political moment. The photographs, narratives and recordings of the story exchanges produced in the workshops will form the subject of an exhibition developed by the community in co-operation with Centrala and an Artist in Residence (AiR). Community engagement with the outputs of this strand will be further enhanced by the hosting of the exhibition in Sandwell in July 2023 and the commissioning by project partners Creative Black Country (CBC) of a series of artistic performances (e.g., spoken word, theatre, comedy) around the work.
        </li>
    </ul>
</section>

<section class="container" id="team">
    <h2>The Team</h2>

    <div class="about-team-person">
        <img src="{% static 'images/team/sara-jones.jpg' %}" alt="Sara Jones">
        <p>
            <a href="https://www.birmingham.ac.uk/staff/profiles/languages/jones-sara.aspx">Professor Sara Jones</a> is the Principal Investigator for the Post-Socialist Britain project. She has overall responsibility for management of the project and delivery of the outcomes. She also leads on the ‘Narratives’ and ‘Communities’ strands and the development of schools resources. She will author the monograph drawing together the different strands of the project.
        </p>
    </div>

    <div class="about-team-person">
        <img src="{% static 'images/team/charlotte-galpin.jpg' %}" alt="Charlotte Galpin">
        <p>
            <a href="https://www.birmingham.ac.uk/staff/profiles/gov/galpin-charlotte.aspx">Dr Charlotte Galpin</a> is Co-Investigator for the Post-Socialist Britain project. She leads on the ‘Media’ research strand and the production of policy reports. She will co-author (with Maren Rohe) an article emerging from the ‘Media’ strand.
        </p>
    </div>

    <div class="about-team-person">
        <img src="{% static 'images/team/jenny-wustenberg.jpg' %}" alt="Jenny Wüstenberg">
        <p>
            <a href="https://www.ntu.ac.uk/staff-profiles/arts-humanities/jenny-wustenberg">Dr Jenny Wüstenberg</a> is Co-Investigator for the Post-Socialist Britain project. She leads on the ‘Networks’ research strand and the workshops for professional and community associations and policymakers. She will co-author (with Paweł Duber) an article emerging from the ‘Networks’ strand.
        </p>
    </div>

    <div class="about-team-person">
        <img src="{% static 'images/team/maren-rohe.jpg' %}" alt="Maren Rohe">
        <p>
            <a href="https://www.birmingham.ac.uk/staff/profiles/languages/maren-rohe.aspx">Dr Maren Rohe</a> is a Postdoctoral Research Associate for the Post-Socialist Britain project. She conducts primary research on the ‘Narratives’ and ‘Media’ strands, assists with the stakeholder workshops and co-authors the policy reports. She will co-author (with Charlotte Galpin) an article emerging from the ‘Media’ strand and (with Paweł Duber) from the ‘Narratives’ strand and single-author a further article emerging from the project.
        </p>
    </div>

    <div class="about-team-person">
        <img src="{% static 'images/team/paweł-duber.jpg' %}" alt="Paweł Duber">
        <p>
            <a href="https://uk.linkedin.com/in/pawe%C5%82-duber-aa39a2118">Dr Paweł Duber</a> is a Postdoctoral Research Associate for the Post-Socialist Britain project. He conducts primary research on the ‘Narratives’ and ‘Networks’ and strands, supports with the stakeholder workshops and co-drafts the schools resources. He will co-author (with Jenny Wüstenberg) an article emerging from the ‘Narratives’ strand and (with Maren Rohe) from the ‘Narratives’ strand and single-author a further article emerging from the project.
        </p>
    </div>

    <div class="about-team-person">
        <img src="{% static 'images/team/oxana-bischin.jpg' %}" alt="Oxana Bischin">
        <p>
            <a href="https://www.oxanabischin.com/">Oxana Bischin</a> is Community Engagement Worker for the Post-Socialist Britain project. She leads on the delivery of the photography workshops in the ‘Communities’ strand and, in collaboration with Centrala and the Artist in Residence, on the production of the exhibition emerging from the research.
        </p>
    </div>

</section>

<section class="container" id="partners">
    <h2>Project Partners</h2>

    <div class="about-partners-partner">
        <img src="{% static 'images/partners/centrala.png' %}" alt="Centrala">
        <p>
            Centrala are a Birmingham-based community organisation and art gallery. Their central goal is to transform society by empowering CEE immigrant communities. Centrala provide essential experience in connecting with relevant groups in the ‘Communities’ strand and will support with the design and delivery of the workshops in collaboration with Oxana Bischin. Centrala will commission the Artist in Residence (AiR) for the virtual and physical exhibition and host the display in Birmingham. 
        </p>
    </div>

    <div class="about-partners-partner">
        <img src="{% static 'images/partners/cbc.jpg' %}" alt="CBC">
        <p>
            Creative Black Country (CBC) is a community interest organisation seeking to improve engagement with the arts in the region. CBC will showcase the exhibition in Sandwell in July 2023 and commission a series of artistic engagement events around it (spoken word, theatre, comedy).
        </p>
    </div>

    <div class="about-partners-partner">
        <img src="{% static 'images/partners/polish-professionals-london.png' %}" alt="Polish Professionals London">
        <p>
            Polish Professionals in London is a non-profit organisation that brings together professionals from a wide range of disciplines. Polish Professionals support with the delivery of the stakeholder workshops and engagement with relevant communities.
        </p>
    </div>

    <div class="about-partners-partner">
        <img src="{% static 'images/partners/ewa.png' %}" alt="EWA">
        <p>
            European’s Welfare Association (EWA) is a West Midlands-based not-for-profit organisation whose focus is education for CEE groups living in the region. EWA will support with the delivery and dissemination of schools resources and engagement with relevant communities.
        </p>
    </div>

    <div class="about-partners-partner">
        <img src="{% static 'images/partners/british-german.jpg' %}" alt="British German Assosication">
        <p>
            The British-German Association (BGA) aims to promote understanding and forge links between the United Kingdom and Germany. The BGA will support with the delivery and dissemination of schools resources and engagement with relevant communities.
        </p>
    </div>

</section>

<section class="container" id="advisoryboard">
    <h2>Advisory Board</h2>
    <ul>
        <li>Dr Laura Alvarez (Senior Urban Planner, Nottingham City Council)</li>
        <li>Dr Kathy Burrell (University of Liverpool)</li>
        <li>Sajida Carr (Director of Development and Operations, Creative Black Country)</li>
        <li>Cllr John Cotton (Glebe Farm and Tile Cross)</li>
        <li>Prof. Astrid Erll (Goethe University, Frankfurt)</li>
        <li>Prof. Jennifer Evans (Carleton University)</li>
        <li>Dr Ute Hirsekorn (University of Nottingham)</li>
        <li>Alicja Kaczmarek (Director of Centrala Space/Polish Expats Association)</li>
        <li>Elżbieta Kardynał (Director of European’s Welfare Association)</li>
        <li>Małgorzata Skibińska (Chair of the Executive Council of the Polish Professionals in London)</li>
        <li>Paul Stocker (British German Association, Youthbridge Director and Trustee of the Dresden Trust)</li>
    </ul>
</section>

<section class="container" id="funding">
    <h2>Funding</h2>
    <p>
        This project is funded by The Arts and Humanities Research Council (AHRC).
    </p>
    <p>
        The Arts and Humanities Research Council (AHRC) funds world-class, independent researchers in a wide range of subjects: history, archaeology, digital content, philosophy, languages, design, heritage, area studies, the creative and performing arts, and much more. This financial year the AHRC will spend approximately £98 million to fund research and postgraduate training, in collaboration with a number of partners. The quality and range of research supported by this investment of public funds not only provides social and cultural benefits and contributes to the economic success of the UK but also to the culture and welfare of societies around the globe.
    </p>
    <p>
        Visit the AHRC website at: <a href="https://ahrc.ukri.org/">ahrc.ukri.org</a>, on Twitter at <a href="https://twitter.com/ahrcpress">@ahrcpress</a>, and on Facebook search for the <a href="https://www.facebook.com/artsandhumanitiesresearchcouncil">Arts and Humanities Research Council</a>, or Instagram at <a href="https://www.instagram.com/ahrcpress/">@ahrcpress</a>.
    </p>
</section>

<section class="container" id="Contact">
    <h2>Contact</h2>
    <ul>
        <li>Email: <a href="mailto:s.jones.1@bham.ac.uk">s.jones.1@bham.ac.uk</a></li>
        <li>Facebook: <a href="https://www.facebook.com/PostSocBrit/">@PostSocBrit</a></li>
        <li>Twitter: <a href="https://twitter.com/soc_post">@soc_post</a></li>
        <li>Address: Ashley Buiding, Edgbaston, Birmingham, UK, B15 2TT</li>
    </ul>
</section>

{% endblock %}