{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Living in the UK after Communism - Resources for Schools</h2>

    <p>
        As part of Post-Socialist Britain? we have developed a set of resources for teachers of students aged 14+ in the fields of migration, history, German, Polish, Ukrainian, and citizenship studies. Our materials focus on the history of Central, East and Southeast Europe and the lived experiences of those migrating from Germany, Poland and Ukraine to the UK, including those of Ukrainians fleeing the Russian invasion in February 2022. The resources explore the connections between history, memory, migration and identity. They combine artistic responses to our research data developed by Sam Frullo and Milena Muszynska with mini-lectures by the project team.
    </p>
    <p>
        The resources provide the perfect basis for teachers in different disciplines to explore the history behind recent migrations to the UK and what life is like for Germans, Poles and Ukrainians who have made their lives here. They help teachers to bring the post-socialist and post-Soviet experience into discussions about diversity, representation and inclusion in the UK.
    </p>

    <div class="education-links">
        <a href="https://youtu.be/nhLmt53H9dY" target="_blank">
            <i class="fas fa-video"></i>
            <span>Living in the UK after Communism: Introduction by Sara Jones</span>
        </a>
        <a href="https://youtu.be/7TAXY6Bc2Hk" target="_blank">
            <i class="fas fa-video"></i>
            <span>Living in the UK after Communism: Germany by Maren Rohe</span>
        </a>
        <a href="https://youtu.be/pMTEsX3PB2Y" target="_blank">
            <i class="fas fa-video"></i>
            <span>Living in the UK after Communism: Poland by Paweł Duber</span>
        </a>
        <a href="https://youtu.be/rGN0NXhaeWE" target="_blank">
            <i class="fas fa-video"></i>
            <span>Living in the UK after Communism: Ukraine by Natalia Kogut</span>
        </a>
    </div>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-00The1Xl8k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="education-pdfpreviews">
        <a href="{% static 'documents/education/Post-Socialist_Experiences_Germany.pdf' %}" target="_blank">
            <img src="{% static 'images/education/Post-Socialist_Experiences_Germany_Preview.jpg' %}" alt="Post-Socialist Experiences: Germany">
        </a>
        <a href="{% static 'documents/education/Post-Socialist_Experiences_Poland.pdf' %}" target="_blank">
            <img src="{% static 'images/education/Post-Socialist_Experiences_Poland_Preview.jpg' %}" alt="Post-Socialist Experiences: Poland">
        </a>
        <a href="{% static 'documents/education/Post-Socialist_Experiences_Ukraine.pdf' %}" target="_blank">
            <img src="{% static 'images/education/Post-Socialist_Experiences_Ukraine_Preview.jpg' %}" alt="Post-Socialist Experiences: Ukraine">
        </a>
    </div>

    <div class="education-links">
        <a href="{% static 'documents/education/Post-Socialist_Experiences_Copyright_Information.pdf' %}" target="_blank">
            <i class="fas fa-file-download"></i>
            <span>Copyright information for sound and images used in Post-Socialist Experiences in the UK by Sam Frullo</span>
        </a>
    </div>

    <iframe src="https://www.yumpu.com/en/embed/view/CrhAgHR8Dayz5KNO" class="iframe-large" frameborder="0" allowfullscreen="true"  allowtransparency="true"></iframe><br><a href="https://www.yumpu.com/en/document/view/67971029/unfamiliar" title="Unfamiliar" target="_blank">Unfamiliar</a>

    <div class="education-links">
        <a href="{% static 'documents/education/Unfamiliar.pdf' %}" target="_blank">
            <i class="fas fa-file-download"></i>
            <span>Download ‘Unfamiliar’ as a PDF</span>
        </a>
    </div>

</section>

<section class="container">
    <h2>Workshops on Memory and Photography</h2>
    <p>
        In May 2022, the Post-Socialist Britain? team partnered with Sandwell Colleges to collaborate on a short series of workshops that explored the theme of memory in photography. Level 2 and 3 photography students were challenged to create a short series of photographs that engaged with the theme of memory, which they were free to interpret in their own way. In the links below, you will find:
    </p>
    <div class="education-links">
        <a href="{% static 'documents/education/College_Resources.pdf' %}" target="_blank">
            <i class="fas fa-file-download"></i>
            <span>The resources pack developed from and for the workshops, including case studies that draw on the work produced by two of the participants (Hollie Askew and Yasmin Robinson)</span>
        </a>
        <a href="https://www.youtube.com/watch?v=MU7yOaz0AVE" target="_blank">
            <i class="fas fa-video"></i>
            <span>A short video by Oxana Bischin explaining how the resources might be used in the classroom</span>
        </a>
        <a href="{% static 'documents/education/Sandwell_College_Photobook.pdf' %}" target="_blank">
            <i class="fas fa-file-download"></i>
            <span>The photobook showcasing the work of our participants at Sandwell Colleges</span>
        </a>
    </div>
    <img id="education-workshopsonmemoryandphotography-img-1" src="{% static 'images/education/education-workshopsonmemoryandphotography-img-1.jpg' %}" alt="Photograph from workshop">  
</section>

{% endblock %}