{% extends "base.html" %}
{% load static %}

{% block main %}

<section class="container">
    <h2>Support for Displaced Ukrainians: Culture, Work and Education</h2>

    <p>
        Project Team: <a href="https://www.birmingham.ac.uk/staff/profiles/languages/jones-sara">Professor Sara Jones</a>, Dr Irina Kuznetsova, Dr Natalia Kogut
    </p>
    
    <p>
        Support for Displaced Ukrainians brings together the research completed in <em>Post-Socialist Britain </em>with two other projects in which team members were involved: <em>Futures of Ukraine </em>and <em>Effectiveness of Support for Displaced Ukrainians</em>. It is supported by the University of Birmingham AHRC Impact Acceleration Account and the Birmingham Institutional Impact Fund.
    </p>
    
    <h3>Ukraine Visa Schemes</h3>
    <p>
        Our research with the Ukrainian community in the UK has highlighted the anxiety and practical difficulties caused by the precarious visa status of those who arrived in the UK following the Russian full-scale invasion. The conditions surrounding the Ukraine Permission Extension announced on 26 November 2024 and the decision to exclude the time spent in the UK on these visas from the Long Route to permanent residency are of particular concern. We are partnering with Birmingham for Ukraine to raise awareness of these issues and to support their campaign for automatic visa extensions and clear pathways to permanent status.
    </p>
    <p>
        In February 2025, we launched a survey to explore the impact of visa precarity on the lives of displaced Ukrainians. In March 2025, we published an initial report drawing on the first 1133 responses. The report highlights the emotional and material harm caused by the Ukraine visa regime, which is putting Ukrainians at increased risk of unemployment and homelessness. The report includes two recommendations to government:
    </p>
    
    <ol>
        <li>
            Grant an <strong>automatic</strong> extension of 18 months to all Ukraine Scheme visas, avoiding the costly application process that is causing significant emotional and material harm.
        </li>
        <li>
            Grant Ukraine Scheme visa holders the right to settlement after 5 years, as for all other humanitarian routes.
        </li>
    </ol>
    
    <p>Download the full report here: <a href="https://postsocialistbritain.bham.ac.uk/outputs/28/">https://postsocialistbritain.bham.ac.uk/outputs/28/</a></p>
    <p>Visit <a href="https://www.birminghamforukraine.org/">Birmingham for Ukraine</a> for more details.</p>
    <h3>Guidance for Displaced Ukrainians and those who Support Them</h3>
    <p>Drawing on our research, we aim to improve the experiences of displaced Ukrainians in the UK, focusing on intercultural relations, work, and education. We collaborated with Birmingham City Council and Centrala to produce three sets of guidance in collaboration with Ukrainian communities:</p>
    <ol>
        <li>
            Guidance for Ukrainians in the UK and Homes for Ukraine hosts, focusing on intercultural understanding. The guidance was workshopped with displaced Ukrainians and hosts via two listening events and developed based on their feedback. Download <a href="https://postsocialistbritain.bham.ac.uk/outputs/23/">in English</a> and <a href="https://postsocialistbritain.bham.ac.uk/outputs/24/">in Ukrainian</a>.
        </li>
        <li>
            Guidance for schools to raise awareness of the particular challenges faced by young displaced Ukrainians, e.g., around bullying, conversations about war, and cultural attitudes towards education. <a href="https://postsocialistbritain.bham.ac.uk/outputs/25/">Download here</a>.
        </li>
        <li>
            Guidance on access to Higher Education in the UK that is culturally informed and relevant to the lived experience of young displaced Ukrainians. Download <a href="https://postsocialistbritain.bham.ac.uk/outputs/26/">in English</a> and <a href="https://postsocialistbritain.bham.ac.uk/outputs/27/">in Ukrainian</a>.
        </li>
    </ol>
    
    <p>The guidance was launch at a celebration event at Centrala on 5 March 2025. Further webinars are planned.</p>
    
    <h3>Read more about our research here:</h3>
    
    <p>
        <a href="https://postsocialistbritain.bham.ac.uk/outputs/12/">Support for Displaced Ukrainians - The Role of History and Stereotypes</a>
    </p>
    <p>
        <a href="https://postsocialistbritain.bham.ac.uk/outputs/20/">Effectiveness of Support for Displaced Ukrainians</a>
    </p>
    <p>
        <a href="https://www.birmingham.ac.uk/schools/gees/research/projects/futures-of-ukraine/futures-of-ukraine-youth-mobility-and-post-war-reconstruction">Futures of Ukraine</a>; <a href="https://www.birmingham.ac.uk/schools/gees/research/projects/futures-of-ukraine/young-ukrainians-in-the-uk-two-years-on-lives-in-limbo.-research-report-and-recommendations.pdf">Futures of Ukraine Report</a>
    </p>
    <p>
        Sara Jones and Natalia Kogut, <a href="https://research.birmingham.ac.uk/en/publications/mismatched-expectations-eastern-europeanism-the-slow-memory-of-th">Mismatched Expectations: Eastern Europeanism, the Slow Memory of the Cold War, and Life in the UK for Displaced Ukrainians</a>
    </p>
    
    <h3>Media Appearances</h3>
    
    <p>
        Mikey Smith, <strong>Ukraine war refugees fear for the future as UK visas near expiry dates &ndash; &ldquo;It would break us completely&rdquo;</strong>. <em>The Mirror </em>(8/3/2025). <a href="https://www.mirror.co.uk/news/politics/ukraine-war-refugees-fear-future-34823354">https://www.mirror.co.uk/news/politics/ukraine-war-refugees-fear-future-34823354</a>
    </p>
    <p>
        Ross Wynne Jones, <strong>&ldquo;I'm a Ukrainian refugee but visa rule means I could be sent back to hell&rdquo;</strong>, <em>The Mirror </em>(27/2/2025). <a href="https://www.mirror.co.uk/news/im-ukrainian-refugee-visa-rule-34765178#comments-wrapper">https://www.mirror.co.uk/news/im-ukrainian-refugee-visa-rule-34765178#comments-wrapper</a>
    </p>
    <p>
        Lara Davies, <strong>Ukrainian mother fears losing her Birmingham home three years on</strong>, <em>BBC News </em>(24/2/2025). <a href="https://www.bbc.co.uk/news/articles/c86pw99xgw3o">https://www.bbc.co.uk/news/articles/c86pw99xgw3o</a>
    </p>
    <p>
        Rachel Hall, <strong>Ukrainian refugees face losing jobs and homes due to UK visa extension uncertainty</strong>, <em>The Guardian </em>(3/2/2025). <a href="https://www.theguardian.com/uk-news/2025/feb/03/ukrainian-refugees-face-losing-jobs-and-homes-due-to-visa-extension-confusion">https://www.theguardian.com/uk-news/2025/feb/03/ukrainian-refugees-face-losing-jobs-and-homes-due-to-visa-extension-confusion</a>
    </p>
    <p>
        Genevieve Holl-Allen, <strong>Ukrainian refugees face losing their jobs over visa rules. </strong><em>The Telegraph </em>(15/1/2025)<em>.</em><a href="https://www.telegraph.co.uk/news/2025/01/15/ukrainian-refugees-face-losing-jobs-over-visa-rules/">https://www.telegraph.co.uk/news/2025/01/15/ukrainian-refugees-face-losing-jobs-over-visa-rules/</a>
    </p>
    <p>
        Adrian Goldberg, <strong>Ukrainian Refugees 'Unfairly' Blocked From Route to Seeking Permanent Life in the UK</strong>, <em>Byline Times </em>(19/12/2024). <a href="https://bylinetimes.com/2024/12/19/ukrainian-refugees-unfairly-blocked-from-route-to-seeking-permanent-life-in-the-uk/">https://bylinetimes.com/2024/12/19/ukrainian-refugees-unfairly-blocked-from-route-to-seeking-permanent-life-in-the-uk/</a>
    </p>
    <p>
        Adrian Goldberg, <strong>&ldquo;Uncertain and Unfair&rdquo; - The Ukraine Visa Extension Scheme</strong>, <em>Byline Podcast </em>(16/12/2024). <a href="https://podfollow.com/byline-podcast/episode/3c79386811d3f791762c1c95eaa7ac2019e6233a/view">https://podfollow.com/byline-podcast/episode/3c79386811d3f791762c1c95eaa7ac2019e6233a/view</a>
    </p>
    
    <h3>Radio</h3>
    <p>
        Kath Stanczyszyn on BBC Radio WM on 20/2/2025 (10:40 a.m.). <a href="https://www.bbc.co.uk/sounds/play/p0klwfcb">https://www.bbc.co.uk/sounds/play/p0klwfcb</a>
    </p>
    <p>
        Radio 4 on 21/12/ 2024. <a href="https://www.bbc.co.uk/sounds/play/live:bbc_radio_fourfm?partner=uk.co.bbc&amp;origin=share-mobile">https://www.bbc.co.uk/sounds/play/live:bbc_radio_fourfm?partner=uk.co.bbc&amp;origin=share-mobile</a> (07.23-07.28)
    </p>

    <img src="{% static 'images/ukraine/hope-blooms-eternal.jpg' %}" class="ukraine-image-large" alt="Photograph of a flower entitled 'Hope Blooms Eternal'">

</section>

{% endblock %}