{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div id="welcome-banner">
        <div id="welcome-banner-content">
            <div id="welcome-banner-title">
                <strong>Post-Socialist</strong> <span>Britain</span>
            </div>
            <div id="welcome-banner-tagline">
                A research project led by Professor Sara Jones at the University of Birmingham
            </div>
        </div>
    </div>
    
    <div class="container">
        <h2>Welcome</h2>
        <p>
            (Content to be added)
        </p>
    </div>

{% endblock %}