{% extends "base.html" %}
{% load static %}

{% block main %}

<div id="output-detail" class="container">
    
    <h2 id="output-detail-name">{{ object.name }}</h2>
    
    <div id="output-detail-description">
        {{ object.description | safe }}
    </div>

    {% if object.link %}
        <div id="output-detail-link">
            <label>Link:</label>
            <a href="{{ object.link }}" target="_blank">{{ object.link }}</a>
        </div>
    {% endif %}

    {% if object.file %}
        <div id="output-detail-file">
            <label>Download file:</label>
            <a href="{{ object.file.url }}">{{ object.filename }}</a>
        </div>
    {% endif %}

    {% if object.youtube_video_id %}
        <div id="output-detail-video" class="youtube-container">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ object.youtube_video_id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    {% endif %}
    
    {% if object.image %}
        <div id="output-detail-image">
            <a href="{{ object.image.url }}"><img src="{{ object.image.url }}" alt="Image for {{ object.name }}"></a>
        </div>
    {% endif %}

</div>

{% endblock %}