{% extends "base.html" %}
{% load static %}
{% load embed_video_tags %}

{% block main %}

<div id="output-detail" class="container">
    
    <h2 id="output-detail-name">{{ object.name }}</h2>
    
    <div id="output-detail-description">
        {{ object.description | safe }}
    </div>

    {% if object.link %}
        <div id="output-detail-link">
            <label>Link:</label>
            <a href="{{ object.link }}" target="_blank">{{ object.link }}</a>
        </div>
    {% endif %}

    {% if object.file %}
        <div id="output-detail-file">
            <label>Download file:</label>
            <a href="{{ object.file.url }}">{{ object.filename }}</a>
        </div>
    {% endif %}

    {% if object.video %}
        <div id="output-detail-video" class="youtube-container">
            {% video object.video as my_video %}
            URL: {{ my_video.url }}
            Thumbnail: {{ my_video.thumbnail }}
            Backend: {{ my_video.backend }}

            {% video my_video %}
            {% endvideo %}
        </div>
    {% endif %}
    
    {% if object.image %}
        <div id="output-detail-image">
            <a href="{{ object.image.url }}"><img src="{{ object.image.url }}" alt="Image for {{ object.name }}"></a>
        </div>
    {% endif %}

</div>

{% endblock %}