{% extends "base.html" %}
{% load static %}

{% block main %}

    <div class="container">

        <h2>Thanks!</h2>
        <p>
            Your story has been sent to us successfully.
        </p>
        <p>
            Please note that <strong>all stories have to be reviewed by the project team before being listed on this website.</strong> Once a member of our team has approve your story it will appear in the list of stories for everyone to see.
        </p>
        <p>
            If you need to contact us about your story, you can email us at <a id="answer-create-success-email">s.jones.1@bham.ac.uk</a>
        </p>
        <script>
            $(document).ready(function() {
                // Set the href to the email link to include a current timestamp
                currentTime = new Date();
                href = "mailto:s.jones.1@bham.ac.uk?subject=Post-Socialist Britain: Answer at time " + currentTime
                $('#answer-create-success-email').attr("href", href);
            });
        </script>

    </div>

{% endblock %}