{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div class="container">

        <h2>Communities</h2>

        <!-- Stories -->
        <section id="stories-list">
            {% for object in object_list %}
                <a href="{% url 'communities:story-detail' object.id %}" class="stories-list-item">
                    <div class="stories-list-item-name"> {{ object.story_name }}</div>
                    <div class="stories-list-item-text"> {{ object.story_text | striptags | truncatechars:50 }}</div>
                </a>
            {% empty %}
                <p>
                    There are no community stories to show yet. Please check back soon.
                </p>
            {% endfor %}
        </section>
    
    </div>

{% endblock %}