{% extends "base.html" %}
{% load static %}

{% block main %}

<div class="container">
    
    <!-- Story -->
    <div id="story-detail">

        <h2>{{ object.story_name }}</h2>

        <div id="story-detail-content">

            <div id="story-detail-content-text">
                {{ object.story_text | safe }}
            </div>

            <!-- Optional story image -->
            {% if object.story_image %}
                <div id="story-detail-content-image">
                    <a href="{{ object.story_image.url }}" target="_blank"><img src="{{ object.story_image.url }}" alt="Supporting image for the story" title="Supporting image for the story"></a>
                </div>
            {% endif %}

        </div>

        <div id="story-detail-content-respondlink" class="form-show">Respond to this story</div>
    
    </div>

    <!-- Responses -->
    <div id="response-create-bg" class="form-hide">
        <div id="response-create">
            <!-- Form to create and submit an response to the above story -->
            <form enctype="multipart/form-data" id="response-create-form" name="response-create-form" method="POST" action="{% url 'communities:response-create' %}">
                <!-- Security CSRF token -->
                {% csrf_token %}
                <!-- Form -->
                {{ response_create_form.as_p }}
                <!-- Submit form button -->
                <button id="response-create-submit" class="btn btn-primary" type="submit">Submit</button>
            </form>
            <!-- Form script  -->
            <script>
                $(document).ready(function() {
                    // Sets the value of the story in the response form to the current story id
                    $('#id_story').val({{ object.id }}).hide();
                    // Show form
                    $('.form-show').on('click', function(){
                        $('#response-create-bg').show();
                    });
                    // Hide form
                    $('.form-hide').on('click', function(){
                        $(this).hide();
                    }).children().on('click', function(e) {
                        e.stopPropagation();
                    });
                });
            </script>
        </div>
    </div>
    
    <!-- List of all users' responses -->
    <div id="response-list">
        <h2>Responses</h2>

        {% for response in responses %}

            <!-- Response -->
            <div class="response-list-item">
                <div class="response-list-item-created">
                    {{ response.meta_created_datetime }}
                </div>
                <div class="response-list-item-text">
                    {{ response.response_text | safe | linebreaksbr }}
                </div>
                {% if response.response_image %}
                    <img class="response-list-item-image" src="{{ response.response_image }}">
                {% endif %}
                {% if response.author_name %}
                    <div class="response-list-item-name">
                        {{ response.author_name }}
                    </div>
                {% endif %}
            </div>
        
        <!-- If no content... -->
        {% empty %}
            <div id="response-list-empty">
                There aren't any responses to this story to show here yet.
                <br>
                Be the first by <a href="#" class="form-show">submitting your response!</a>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}