{% extends "base.html" %}
{% load static %}

{% block main %}
    
    <div class="container">

        <h2>Communities</h2>

        <!-- Stories -->
        <div class="calendar-months">

            {% for object in object_list %}

                <!-- Year (only print if year not yet printed) -->
                {% ifchanged object.year %}
                    </div> <!-- Closes the calendar-months div -->
                    <div class="calendar-year">
                        {{ object.year }}
                    </div>
                    <div class="calendar-months"> <!-- Reopens the calendar-months div -->
                {% endifchanged %}


                <!-- Month -->
                <div class="calendar-months-month">

                    <!-- Header -->
                    <div class="calendar-months-month-head">
                        
                        <!-- Title -->
                        <a href="{% url 'story-detail' object.id %}" class="calendar-months-month-head-title">
                            {{ object.month.name }}
                        </a>

                    </div>
                    
                    <!-- Question -->
                    <a href="{% url 'story-detail' object.id %}" class="calendar-months-month-question">
                        {{ object.question_text | striptags }}
                    </a>
                    
                </div>

            <!-- If no content... -->
            {% empty %}
                <p>
                    There are no questions yet to show in the CLiC Calendar. Please check back soon!
                </p>
            {% endfor %}
        </div>
    
    </div>

{% endblock %}