
/* ---------- General ---------- */

body {
    font-family: 'Poppins', sans-serif;
    color: #344152;
    margin: 0;
    font-weight: 300;
    background-color: white;
}

a {
    color: #EA2027;
    font-weight: 500;
}

a:hover {
    color: #b3740f;
}

h1 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #EA2027;
    font-weight: 200;
}

h2 {
    padding-top: 2em;
    color: #EA2027;
    font-weight: 300;
    text-align: center;
    font-size: 1.7em;
    margin: 1.5em 0 1em 0;
}

h3 {
    padding: 2em 0 0.5em 0;
    color: #EA2027;
    font-weight: 500;
    text-align: left;
    font-size: 1.5em;
}

.iframe-large {
    display: block;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: calc(90vh - 7em);
    border: none;
}

.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    margin: 7em auto;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ---------- Forms ---------- */

label {
    display: block;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 0.95em;
}

label.label-active {
    color: #EA2027;
}

.helptext {
    font-size: 0.9em;
    color: #AAA;
}

.errorlist {
    color: red;
}

input,
textarea,
select,
button[type='submit'] {
    width: 100%;
    display: block;
    padding: 0.3em;
}

#story-create-form input,
#story-create-form textarea,
#story-create-form select {
    background: #EEE;
    border: none;
}

#story-create-form input[type='file'] {
    border: 1px solid white;
    background: none;
}

input[type='checkbox'] {
    display: inline;
    width: auto;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form ul li {
    display: inline-block;
}

form ul li label {
    margin: 0.3em 2em 0 0;
    cursor: pointer;
}

form ul li label:hover {
    color: #EA2027;
}

button[type='submit'],
button[type='submit']:visited {
    background: #EA2027;
    border: none;
    color: black;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin: 3em 0 1em 0;
}

button[type='submit']:hover {
    background: #b3740f;
    color: black;
}

.form-submit-notes {
    font-size: 0.9em;
    color: #AAA;
}

/* ---------- Navigation ---------- */

nav {
    color: #344152;
    background-color: white;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar-brand {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.6em;
    color: #EA2027;
}

.navbar-nav {
    letter-spacing: 0.15em;
}

.nav-link {
    font-weight: 300;
    font-size: 1.1em;
    color: #344152;
}

.nav-link.active {
    color: #EA2027;
}

nav a:hover,
.dropdown-item:hover {
    color: #EA2027;
}

/* ---------- Main ---------- */

main {
    padding-bottom: 4em;
}

main p,
main ul,
main ol {
    font-size: 1.1rem;
    line-height: 2rem;
}

main a {
    text-decoration: none;
}

/* ---------- Welcome ---------- */

#welcome-banner {
    /* https://unsplash.com/photos/VweMmg8XMfw */
	background: url('../images/welcome-bg.jpg');
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	background-color: white;
    height: calc(100vh - 3em);
}

#welcome-banner-title {
    font-weight: 100;
    color: #EA2027;
}

#welcome-banner-tagline {
    font-weight: 300;
    color: #344152;
    max-width: 23em;
}

/* ---------- Stories ---------- */

#stories-list {
    padding: 1.5em 0;
    margin-top: 1em;
}

.stories-list-item {
    padding: 1em;
    border-top: 1px solid #AAA;
    display: block;
    color: #344152;
}

.stories-list-item:first-of-type {
    border-top: 0px solid #AAA;
}

.stories-list-item:hover {
    background-color: #344152;
    color: white;
    text-decoration: none;
}

.stories-list-item-name {
    font-weight: bold;
    font-size: 1.3em;
}

.stories-list-item-text {
    opacity: 0.8;
    font-size: 0.95;
    margin-top: 0.3em;
}

#response-create-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
}

#story-detail-content-image img {
    max-width: 80%;
    margin: 2em auto;
    display: block;
}

#story-detail-content-respondlink {
    background: #EA2027;
    color: white;
    cursor: pointer;
    text-align: center;
    margin: 4em auto;
    width: 13em;
    padding: 1em;
    border-radius: 0.3em;
}

#response-create {
    position: fixed;
    padding: 0 2em 1em 2em;
    border: 1px solid black;
    background: white;
    width: 80%;
    top: 5vh;
    left: 10%;
    height: 90vh;
    overflow: auto;
    z-index: 10000;
}

.response-list-item {
    margin: 2em 0;
    border: 1px solid #AAA;
    padding: 1em;
    background: #EEE;
}

.response-list-item-created {
    font-size: 0.85em;
    line-height: 1.5em;
    text-align: right;
    color: #505050;
}

.response-list-item-text {
    color: #303030;
}

/* ---------- Footer ---------- */

footer {
    padding: 5em 0;
    text-align: center;
    font-size: 0.9em;
}

#footer-content-text {
    margin-top: 2em;
}

footer a:hover {
    color: #EA2027;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
